/* programmieren in css immer mit: */
/* selektor{property: value;} */
/* das "*" sagt, dass die Änderung auf ALLES bezogen werden soll */
* {
  /* border-box verhindert, dass durch padding & margin
  *  die größe eines elements immer mehr & die
  *  vorgegebene größe beibehalten wird */
  box-sizing: border-box;
}

html {
  font-family: 'PT Sans', sans-serif;
  /* standart schriftgröße ist 16px = 1em = höhe eines großen "M"s*/
  font-size: 100%;
  font-weight: bold;
  width: 100%;
  line-height: 1.4;
}

body {
  padding: 0px;
  margin: 0px;
}

p{
  font-family: 'PT Serif', serif;
}

li a{
  color: #fff;
  text-decoration: none;
}

nav a {
  /* white = ffffff = fff = rgb(255,255,255) */
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  /* die erste sekunden angabe sagt, we schnell die
  transition verlaufen soll, während die zweite sekunden
  angabe sagt, wie lange der browser warten soll,
  bevor er die transition startet */
  transition: color .5s/*2s*/
  ease;
}

nav a:hover {
  color: rgb(102, 205, 170);
}

/* was passiert wenn ich auf einen link geklickt habe
nav a:visited{
  color: pink;
} */

/* im browser bei element-auswahl (F12) grün=padding, orange=margin */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  border-bottom: 1px solid #fff;
}

/* bei "id" */
#header {
  background-color: rgb(40, 44, 52);
}

/* bei "class" */
.wrapper {
  /* padding erstellt einen basis abstand vom rand in die mitte */
  /*padding: 50px;*/
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  display: block;
}

#logo {
  width: 2em;
}

.welcome{
  width: 100%;
  /* "vh" = viewport height = bildschirmhöhe*/
  height: 100vh;
  min-height: 400px;
  text-align: center;
  color: #fff;
  background-image: url(img/intro.jpg);
  /* cover = bild passt sich der größe nach dem bildschirm an
     center = bild ist bei jeglicher bildschirmgröße immer zentriert
     attachment: fixed = bild bleibt an seiner position und scrollt nicht
     mit dem rest der website mit */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.welcome a, .button{
  color: #fff;
  text-decoration: none;
  background-color: rgb(102, 205, 170);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
  /* alles was in der "hover" sektion angegeben wird,
     soll von transition verändert werden
     mit der angabe hinter transition gibt man an,
     was verändert werden soll*/
  transition: all .5s;
}

.welcome a:hover, .button:hover{
  background-color: rgb(69, 139, 116);
}

.spacing p{
  margin: 4rem;
  font-family: 'PT Sans', sans-serif;
}

.spacing{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform = verschiebung auf X & Y Achsen*/
  transform: translate(-50%, -50%);
  width: 100%;
}

.border{
  border: 1px solid #000;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1rem;
}

.main-title{
  text-align: center;
}

.card{
  text-align: center;
  margin-bottom: 1rem;
}

.card img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card h3{
  margin: 0;
}

.card-title{
  color: #000;
  text-decoration: none;
}

.card-title:hover{
  text-decoration: underline;
}

.button{
  display: block;
  padding: .5rem;
}

.sidebar{
  text-align: center;
}

.sidebar h2{
  text-transform: uppercase;
  font-size: 1.5rem;
}

.searchform{
  border: 1px solid #000;
  position: relative;
  height: 2rem;
  margin-bottom: 1rem;
}

.searchform input, #searchvalue{
  border: none;
  outline: 0;
  width: 100%;
  height: 100%;
  padding-left: .5rem;
  padding-right: 2.5rem;
}

.search button, #searchbutton{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background: #fff;
  border: none;
  cursor: pointer;
}

.author, .affiliate{
  border-top: 1px dotted #000;
  margin-top: 2rem;
  padding: 2rem 0;
}

.author img{
  border-radius: 50%;
  margin: auto;
  /* statt margin auch möglich hier:
     display: inline-block; */
}

.sidebar img{
  width: 50%;
  display: inline-block;
}

#footer {
  clear: both;
  background-color: rgb(40, 44, 52);
  text-align: center;
}

#footer li{
  padding: 5px;
  border: none;
}

.social-list{
  padding: 0;
}

.social-list li{
  display: inline-block;
}

/*====== @media Sektion====================================================*/
/* mit "@media" kann man abfragen auf welchem gerät etwas
*  dargestellt werden soll und die größe für jedes
*  gewünschte gerät anpassen */
@media (min-width: 48em) {
  #logo {
    width: 2em;
  }

  /* leerzeichen zwischen "nav" und "li" bedeutet
  *  "in", bzw "alle "li" die in einem "nav" Stehen
  *  sollen diese eigenschaften verändert bekommen" */
  nav li {
    float: left;
    margin-right: 1em;
    border-bottom: none;
  }

  nav {
    float: right;
    margin-top: 1.5em;
  }

  #header {
    height: 4em;
  }

  .wrapper {
    width: 90%;
    margin: auto;
  }

  #logo {
    padding-top: 15px;
    float: left;
  }

  .spacing h1{
    font-size: 4rem;
    margin: 0;
  }

  .spacing p{
    font-size: 2rem;
  }

  .spacing a{
    font-size: 1.5rem;
  }

  #main{
    width: 66.66666667%;
    float: left;
  }

  .card{
    width: 50%;
    float: left;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .main-title{
    text-transform: uppercase;
    text-align: left;
  }

  .sidebar{
    width: 33.33333334%;
    float: right;
  }

  #footer{
    position: relative;
    height: 100px;
  }

  #footer nav{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
  }

  .social-list{
    font-size: 200%;
    position: absolute;
    display: inline-block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .social-list a{
    padding: 8px;
  }
}

/**
* Bei mehreren Zeilen Kommentar,
* verwendet man in jeder Zeile
* ein zusätzliches Sternchen,
* zur besseren Übersicht
**/
